.pagination {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 2rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.pagination ul {
  display: flex;
  list-style: none;
  margin-right: 15rem;
}

.pagination li {
  margin: 0 0.03rem;
}

.pagination a {
  font-family: Saira;
  font-weight: 400;
  text-decoration: none;
  background-color: #e9e9f0;
  color: #737380;
  padding: 0rem 0.6rem;
  border-radius: 0.5rem;
  border: solid transparent;
}

.pagination .active {
  background-color: #f0f0f5;
  color: #ffa585;
  border-color: #ffa585;
  
}
.pagination a:hover {
  background-color: #f0f0f5;
  color: #ffa585;
  border-color: #ffa585;
}

@media (min-width: 1919px) {
  .pagination ul {
    margin-right: 10rem;
  }
}

@media (min-width: 1530px) {
  .pagination ul {
    margin-right: 10rem;
  }
}

@media (max-width: 1440px) {
  .pagination ul {
    margin-right: 8.rem;
  }
}

@media (max-width: 1025px) {
  .pagination ul {
    margin-right: 5rem;
  }
}
@media (max-width: 769px) {
  .pagination ul {
    margin-right: 3.6rem;
  }
}

@media (max-width: 426px) {
  .pagination ul {
    margin-right: 5.5rem;
  }

  @media (max-width: 415px) {
    .pagination ul {
      margin-right: 5.3rem;
    }
  }


}
@media (max-width: 391px) {
  .pagination ul {
    margin-right: 4.9rem;
  }
}

@media (max-width: 376px) {
  .pagination ul {
    margin: 0 3.8rem;
  }
}