.productList {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline-start: 10rem;
}
  
@media (max-width: 1025px) {
  .productList {
    gap: 2.3rem;
    margin-inline-start: 6rem;
  }
}

@media (max-width: 1025px) {
  .productList {
    gap: 2.5rem; 
  }
}

@media (max-width: 769px) {
  .productList {
    gap: 6rem; 
  }
}

@media (max-width: 415px) {
  .productList {
    margin-inline-start: 5.3rem;
    gap: 3rem; 
  }
}


@media (max-width: 391px) {
  .productList{
    margin-inline-start: 4.3rem;
  }
}

@media (max-width: 376px) {
  .productList{
    margin-inline-start: 3.1rem;
  }
}