.productList {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline-start: 10%;
  margin-right: 10%;
  text-decoration: none;
}

@media (max-width: 1920px){
  .productList{
    gap: 2.8rem;
  }
}

@media (max-width: 1440px){
  .productList{
    gap: 2rem;
  }
}


@media (max-width: 1024px){
  .productList{
    gap: 1rem;
  }
}

@media (max-width: 768px){
  .productList{
    gap: 5rem;
  }
}


@media (max-width: 425px){
  .productList{
    display: flex;
    justify-content: center;
  }
}
