.productList {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline-start: 10%;
  margin-right: 10%;
  text-decoration: none;
}

@media (max-width: 1921px){
  .productList{
    gap: 3.3rem;
  }
}

@media (max-width: 1441px){
  .productList{
    gap: 2rem;
  }
}


@media (max-width: 1025px){
  .productList{
    gap: 1rem;
  }
}

@media (max-width: 769px){
  .productList{
    gap: 5rem;
  }
}


@media (max-width: 426px){
  .productList{
    display: flex;
    justify-content: center;
  }
}
