.category { 
  width: 100%;
  font-family: Saira;
  font-weight: 400;
  font-size: 16px;
  display: flex;
}



.category a {
  text-decoration: none;
  color:#41414D;
}

.category div {
  margin-top: 2.125rem;
  margin-inline-start: 7%;
  font-size: 1rem;
  font-weight: bold;
  font-weight: 400;
  
}

.activeCategory {
  font-weight: 600;
  transform: translateY(-5px);
  font-size: 1.2rem;
  border-bottom: 4px solid #ffa585;
}

.navegation{
  width: 100%;
  margin-right: 20%;
  margin-left: 56%;
  }

.navLink {
  text-decoration: none;
  color: #737380;
  font-size: 0.875rem;
  font-weight: 400;
}

.navLink.active {
  font-weight: 600;
  font-size: 0.875rem;
}


.set_nav {
  color: #737380;
  z-index: 1000;
  cursor: pointer;
  display: flex;
}


.set_nav img {
  margin-left: 0.5rem;
}

.navegation ul {
  padding-top: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding-left: 1rem;
  display: none;
  position: absolute;

}

.navegation ul.active {
  display: block;
  width: 11rem;
  height: 9rem;
  
}

.navegation a {
  text-decoration: none;
  color: #737380;
  font-family: saira;
  font-size: 0.875rem;
}

.navegation li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px){
  .category { 
    width: 100%;
    display: block;
  }
  .category div { 
    margin: 4% 0 1% 0;
    display: flex;
    justify-content: center;
    margin-right: 5%;
  }
  .activeCategory {
    font-weight: 600;
    font-size: 1rem;
  }
  .navegation{
    margin-right: 10%;
    margin-left: 43%;
    }
}

@media (max-width: 425px){
  .category { 
    display: block;
  }

  .category div {
    display: flex;
    justify-content: center;
  }
  
  .category section{
    padding: 0;
    margin: 0;
  }
}
