.container {
  background-color: #f0f0f5;
  width: 90rem;
  height: calc(100vh - 80px);
  position: relative; /* Adicionado para contêiner relativo */
}

.category {
  display: flex;
  margin-inline: 16rem;
}

.category div {
  padding-top: 2.125rem;
  padding-right: 2.5rem;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main nav {
  padding-top: 2.125rem;
  padding-right: 10rem;
}

.set_nav {
  padding-left: 0.5rem;
  color: #737380;
  z-index: 1000; /* Garante que o menu fique sobre outros elementos */
  cursor: pointer;
  display: flex;

}

.set_nav img {
  margin-left: 0.5rem;
}

.navegation ul {
  width: 11rem;
  height: 8.25rem;
  padding-top: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding-left: 1rem;
  display: none; 
  z-index: 1000; 
}

.navegation ul.active {
  display: block;
  width: 10rem;
  height: 8.25rem;
}

.navegation a {
  text-decoration: none;
  color: #737380;
  font-family: saira;
  font-size: 0.875rem;
}

.navegation li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.lista_menu{
  position:static;
  width: 334px;}