.header {
  width: 100%;
  max-width: 90rem;
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.content a {
  text-decoration: none;
}

.nav {
  padding: 0 26.5rem 0 16rem;
}

.logo {
  color: #5d5d6d;
  font-family: Saira Stencil One;
  font-style: 2.5rem;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.75rem;
  cursor: pointer;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor: help;
}

.searchInput {
  width: 22.188rem;
  height: 2.625rem;
  font-family: Saira;
  background-color: #f3f5f6;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: -4rem ;
}
.searchIcon {
  position: absolute;
  right: 1.725rem;
  color: #737380;
  cursor: pointer;
}

.button_shopping {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button_shopping__icon {
  height: 2rem;
  padding-left: 1rem;
}

.shopping__number {
  position: absolute;
  padding-top: 0.7rem;
  margin-left: 2.5rem;
  z-index: 2;
}


.purchase {
  height: 1.625rem;
  width: 0.063rem;
  position: relative;
}
.circle__red {
  padding-top: 1rem;
  margin-left: 2rem;
  position: absolute;
  top: 0.9rem;
  left: 0.2rem;
  border-radius: 50%;
  background-color: red;
  width: 1.163rem;
  height: 1.163rem;
  z-index: 2;
 
}


