.header {
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: auto;
}

.logo {
  width: 50%;
  color: #5d5d6d;
  font-family: "Saira Stencil One", Saira;
  font-weight: 400;
  font-size: 2.5rem;
  margin-inline-start: 10%;
  text-decoration: none;
  cursor: default;
}

.searchContainer {
  width: 25%;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.searchInput {
  width: 100%;
  height: 2.625rem;
  font-family: "Saira", sans-serif;
  background-color: #f3f5f6;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.searchIcon {
  position: absolute;
  right: 3%;
  color: #737380;
  cursor: pointer;
}

.button_shopping {
  background-color: transparent;
  border: none;
  position: relative;
}

.button_shopping__icon {
  height: 2rem;
  cursor: pointer;
}
.shopping__number {
  z-index: 2;
}

.circle__red {
  width: 1.163rem;
  height: 1.163rem;
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.75rem;
}



@media (max-width: 425px){
  .searchContainer {
    width: 10%;
    margin-left: 10%;
  }
  .searchIcon {
    left: 0.5rem;
  }
  .searchInput::placeholder {
    color: transparent;
  }
}

@media (max-width: 320px){
  .logo h1 {
    font-weight: 10px;
    font-size: 1rem;
  }
}