.productItem {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
}

.productItem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.productName {
  font-family: Saira;
  font-weight: 300;
  font-size: 1rem;
  margin: 0.625rem 0.75rem;
  color: #333;
  border-bottom: 1px solid #DCE2E5;
}

.productPrice {
  font-family: Saira;
  font-weight: 600;
  font-size: 0.875rem;
  color: #09090A;
  margin-left: 0.75rem;
}


